aside.menu-area{

    margin-top: -8%;

    padding:2px;
  }
    


.menu a{
    display: block;
    text-decoration: none;
    color:#298A08;
    padding: 23px;
    font-weight: 300;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);

 
}
   
  
    


.menu a:hover{
    background: linear-gradient(135deg, #90ff7af5 10%, #d6e9d5 100%, #53ff61 90%);
    -webkit-border-radius: 13px;
   
}
@media(max-width:768px) {
    .menu{
        display: inline-block;
        justify-content: flex-start;
        align-items:center;
    
    }
    .menu a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }

    .menu {
        height: 100%;
        justify-content: space-around;
     
    }
}